@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
body{   
margin: 0;
    background-color: #5cdb95;
}
h1
{
    color: #edf5e1;
   
    height: 100px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 2000%;
    text-shadow: 100px;
}
.header{
    width: 100%;
    height: 20%;
   
}
div#top-ui{
    overflow: hidden;
    height: 100px;
}
div a.link{
    text-decoration: none;
    color: #05386B;
    font-size: 150%;
    font-family: 'Lato', sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.center.bottom
{
    margin-top: 25%;
}
.column {
    float: left;
    width: 32%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }